<html>
  <head>
    <script src="static/p5/p5.min.js"></script>
    <script src="static/p5/addons/p5.dom.min.js"></script>
    <script src="static/sketch.js"></script>

    <style>
      .canvas,
      .buttons {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="canvas" id="canvas-container">
      <br />
      <h3 id="predicted-val">predicted value:</h3>
    </div>
    <br />
    <div class="buttons">
      <button id="reset">Reset Canvas</button><br /><br />
      <button id="predict">Predict</button>
    </div>
  </body>
</html>
