<html>
  <head>
    <style>
      .canvas {
        touch-action: none;
      }
      .canvas,
      .buttons {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="canvas" id="canvas-container"></div>
    <br />
    <div class="buttons">
      <h3 id="predicted-val">predicted value:</h3>
      <button id="reset">Reset Canvas</button><br /><br />
      <!-- <button id="predict">Predict</button> -->
    </div>

    <script src="static/p5/p5.min.js"></script>
    <script src="static/p5/addons/p5.dom.min.js"></script>
    <script src="static/sketch.js"></script>
  </body>
</html>
